#{extends 'main.html' /}
#{set title:'Are you sure you want to remove a category?' /}

<div class="alert">
    <h4 class="alert-heading">Are you sure?</h4>
    <p>
        Do you really want to delete the category '${category.name}' ?
    </p>
</div>

#{form @AdminCategories.delete(category.id), class:"form-inline form-no-margin"}
    <a href="@{AdminCategories.index()}" title="Let´s go back to safety" class="btn">No, let´s cancel</a>
    <button type="submit" class="btn btn-danger action"
            title="I know what I´m doing"><i class="icon-trash icon-white"></i> Yes I am sure</button>
#{/form}
