#{extends 'main.html' /}
#{set title:'Admin categories' /}

#{if categories.empty}
    <div class="alert alert-info">
        No categories yet.
    </div>
#{/if}
#{else}
    <table class="table table-striped">
        <caption>Categories</caption>
        <tbody>
            #{list items:categories, as:'__category'}
                <tr>
                    <td><a href="@{AdminCategories.editForm(__category.id)}">${__category.name}</a></td>
                    <td>${__category.description}</td>
                    <td>
                        #{form @AdminCategories.delete(__category.id), class:"form-no-margin"}
                            <button type="submit" class="btn btn-danger btn-mini action"
                             title="Delete category"><i class="icon-trash icon-white"></i> Delete</button>
                        #{/form}
                    </td>
                </tr>
            #{/list}
        </tbody>
    </table>
#{/else}

<a class="btn btn-primary" href="@{AdminCategories.addForm()}"><i class="icon-plus icon-white"></i> New category</a>
