#{extends 'main.html' /}
#{set title:'Login' /}

#{set 'moreStyles'}
    <style>
        /* adapt style from security module */
        #remember-field {
            margin-bottom: 20px;
        }
        #remember-field label {
            display:inline;
        }
    </style>
#{/set}

<div class="row">
<div class="span6 offset3">
#{doLayout /}
</div>
</div>

<script type="text/javascript">
/* adapt style from security module */
jQuery("#signin")
    .addClass("btn btn-primary btn-large");
jQuery(".error")
    .addClass("alert alert-error")
    .append("<br/><a href='@{Security.resetPasswordRequest()}'>Did you forgot password?</a>");
</script>