#{extends 'main.html' /}
#{set title:'Are you sure you want to remove a module?' /}

<div class="alert">
    <h4 class="alert-heading">Are you sure?</h4>
    <p>
        Removing a published module from a public repository is very dangerous as it will break existing
        applications. Make sure you know what you are doing.
    </p>
    <p>
        You should only do this in the following situations:
    </p>
    <ul>
        <li>This is a private repository and you have no users</li>
        <li>This is a test repository and you have no users</li>
        <li>You absolutely know nobody depends on this module</li>
        <li>This module does not conform to the Ceylon Herd publishing policy</li>
    </ul>
    
</div>

<a href="@{Repo.view(module.id, moduleVersion.id)}" title="Let´s go back to safety" class="btn">No, let´s cancel</a>
<a href="@{LoggedInRepo.remove2(module.id, moduleVersion.id)}" title="I know what I´m doing" class="btn btn-danger"><i class="icon-trash icon-white"></i> Yes I am sure</a>