html, body {
    height: 100%;
}
body > .pre-footer {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -5em;
}
footer, .push {
    height: 5em;
}

footer {
    margin: 0 2em;
}

.nav .user {
    margin: 10px 10px 0 10px;
    font-weight: bold;
    color: white;
}

.nav .user .user-link a {
	display: inline;
    padding: 0;
    color: white;
}

#logo {
	position: absolute;
    top: 0px;
    left: 20px;
}

.hero-unit img {
	margin-right: 1em;
}

.comment,
.comment-status {
	margin: 1em 0;
}

.comment-status img {
	vertical-align: middle;
}

.comment-status img,
.comment-status span {
    margin-right: 0.5em;
}

.comment .action {
    display: none;
    float: right;
    margin-left: 0.5em;
}

.comment:hover .action {
	display: inline;
}

.comment img {
	float: left;
}

.comment .data {
	border: 1px solid #DDD;
    margin-left: 60px;
    min-height: 50px;
}

.user-project .header,
.comment .header {
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
	
background-image: linear-gradient(bottom, rgb(227,227,227) 44%, rgb(245,245,245) 100%);
background-image: -o-linear-gradient(bottom, rgb(227,227,227) 44%, rgb(245,245,245) 100%);
background-image: -moz-linear-gradient(bottom, rgb(227,227,227) 44%, rgb(245,245,245) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(227,227,227) 44%, rgb(245,245,245) 100%);
background-image: -ms-linear-gradient(bottom, rgb(227,227,227) 44%, rgb(245,245,245) 100%);

background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(227,227,227)),
    color-stop(1, rgb(245,245,245))
);
}

.comment .date {
	float: right;
}

.comment .header,
.comment .text {
    padding: 0.5em 0.7em;
}

.comment .small,
.comment .date a {
	color: gray;
}

.comment textarea {
	width: 850px;
}

.user-info {
	font-size: 24pt;
}

.user-info img {
	vertical-align: middle;
}

.user-info .username {
    font-weight: bold;
}

.user-details th {
	text-align: left;
}

.user-details th,
.user-details td {
	padding: 0.3em 0.5em;
}

.user-project {
	margin: 1em 0;
	border: 1px solid #DDD;
}

.user-project > * {
	padding: 0.5em 1em;
}

.user-project .published {
	color: gray;
	font-size: smaller;
}

.user-link {
	font-weight: bold;
}

.user-link img {
    vertical-align: middle;
    margin-right: 0.5em;
}

.user-link a {
	color: inherit;
}

.admin {
	margin: 1em 0;
}

h1 {
	margin-bottom: 20px !important;
}

h3 {
	margin-bottom: 12px !important;
}

form.form-no-margin {
	margin: 0;
}

form.inline {
	display: inline;
}

#help {
    display: none;
}

.action-tip {
    white-space: nowrap;
    font-weight: bold;
}

#help-button {
    position: absolute;
    right: 0;
    top: 100px;
    border-left: 1px solid #DDD;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    padding: 0.3em 0.5em;
    cursor: pointer;
    background: whiteSmoke;

   -webkit-transition: background-color 0.2s ease-in;  
   -moz-transition: background-color 0.2s ease-in;  
   -o-transition: background-color 0.2s ease-in;  
   transition: background-color 0.2s ease-in;  
}

#help-button:hover {
    background: #BBB;
}

#help-button a {
    text-decoration: none; 
    color: black;
}

#help-button:hover a {
    color: white;
}

/* Fix the alignment for bootstrap labels: it's better aligned without this */
.label {
    vertical-align: baseline;
}

/* xml syntax highlighting */
.xml-tag {
    color: purple;
}

.xml-attr {
    color: red;
}

.xml-val {
    color: blue;
}

.table-no-hover tbody tr:hover td,
.table-no-hover tbody tr:hover th {
    background-color: inherit;
}

.label-import-keyword {
    background-color: #919191;
}

.label-jar {
    background-color: #717171;
}

.label-jvm {
    background-color: #5C2400;
}

.label-js {
    background-color: #00995F;
}

.expandable.collapsed {
    height: 2em;
    overflow: hidden;
}