#{extends 'main.html' /}
#{set title:'Edit user' /}
#{set hasForm: true /}

<h1>Edit user</h1>

#{form action: @AdminUsers.edit(editedUser.id), class: "form-horizontal"}

<fieldset>
    <legend>Edit user ${editedUser.userName}</legend>
    <div class="control-group #{errorClassBootstrap 'email'/}">
        <label class="control-label" for="email">Email</label>
        <div class="controls">
            <input name="email" type="text" value="${flash.email ?: editedUser.email}" maxlength="${util.Util.VARCHAR_SIZE}"/>
            <span class="help-inline">​#{error 'email'/}</span>
        </div>
    </div>
    <div class="control-group #{errorClassBootstrap 'firstName'/}">
        <label class="control-label" for="firstName">Firstname</label>
        <div class="controls">
            <input name="firstName" type="text" value="${flash.firstName ?: editedUser.firstName}" maxlength="${util.Util.VARCHAR_SIZE}"/>
            <span class="help-inline">​#{error 'firstName'/}</span>
        </div>
    </div>
    <div class="control-group #{errorClassBootstrap 'lastName'/}">
        <label class="control-label" for="lastName">Lastname</label>
        <div class="controls">
            <input name="lastName" type="text" value="${flash.lastName ?: editedUser.lastName}" maxlength="${util.Util.VARCHAR_SIZE}"/>
            <span class="help-inline">​#{error 'lastName'/}</span>
        </div>
    </div>
    <div class="control-group #{errorClassBootstrap 'isAdmin'/}">
        <label class="control-label" for="isAdmin">Administrator</label>
        <div class="controls">
            <input name="isAdmin" type="checkbox" value="true" #{if (flash.isAdmin == null && editedUser.isAdmin) || flash.isAdmin}checked="checked"#{/if} />
            <span class="help-inline">​#{error 'isAdmin'/}</span>
        </div>
    </div>
    <div class="form-actions">
        <a href="@{AdminUsers.index(1, 20)}" class="btn" title="Go back to users">Cancel</a>​
        <input type="submit" class="btn btn-primary" value="Save user" title="Save user"/>
    </div>
</fieldset>

#{/form}