#{extends 'main.html' /}
#{set title:'Project claims' /}

#{if projects.empty}
    <div class="alert alert-info">
        No current project claims.
    </div>
#{/if}
#{else}
    <table class="table">
        <caption>Current project claims:</caption>
        #{list items:projects, as:'project'}
            <tr>
                <td><a href="@{Projects.view(project.id)}">${project.moduleName}</a></td>
                <td>#{user project.owner, img: true /}</td>
            </tr>
        #{/list}
    </table>
#{/else}

