#{extends 'main.html' /}
#{set title:'My project claims' /}

#{if projects.empty}
    <div class="alert alert-info">
        No project claims yet.
    </div>
#{/if}
#{else}
    <table class="table table-striped">
        <caption>My project claims</caption>
        <tbody>
            #{list items:projects, as:'project'}
                <tr>
                    <td><a href="@{Projects.view(project.id)}">${project.moduleName}</a></td>
                    <td>
                        #{projectStatus project.status /}
                    </td>
                    <td>
                        <a href="@{Projects.delete(project.id)}" class="btn btn-danger btn-mini action">Delete</a>
                    </td>
                </tr>
            #{/list}
        </tbody>
    </table>
#{/else}

<a class="btn btn-primary" href="@{Projects.claimForm()}"><i class="icon-plus icon-white"></i> Claim new project</a>