#{extends 'main.html' /}
#{set title:'View project claim' /}

#{if !otherOwners.isEmpty()}
    <div class="alert">
        Project ${project.status == models.ProjectStatus.CONFIRMED ? 'also' : 'already'} owned by:
        <ul>
            #{list items:otherOwners, as:'o'}
                <li>#{user o, img:true /}</li>
            #{/list}
        </ul>
    </div>
#{/if}

<table class="table table-bordered">
    <caption>Project claim</caption>
    <tbody>
    <tr>
        <th>Module name</th>
        <td>
            #{form @Projects.delete(project.id), class:"form-no-margin, pull-right"}
                <button type="submit" class="btn btn-danger btn-mini action"
                        title="Delete project claim"><i class="icon-trash icon-white"></i> Delete</button>
            #{/form}
            %{
                module = project.module;
            }%
            #{if module}
                #{module module /}
            #{/if}
            #{else}
                ${project.moduleName}
            #{/else}
        </td>
    </tr>
    <tr>
        <th>Owner</th>
        <td>#{user project.owner, img: true /}</td>
    </tr>
    <tr>
        <th>Status</th>
        <td>
            #{projectStatus project.status /}
            #{secure.check 'admin'}
                <span class="pull-right">
                #{if project.canBeAccepted()}
                    #{form @Projects.accept(project.id), class:"form-no-margin inline"}
                        <button type="submit" class="btn btn-success btn-mini"
                                title="Accept project claim"><i class="icon-ok icon-white"></i> Accept</button>
                    #{/form}
                #{/if}
                #{if project.canBeRejected()}
                    #{form @Projects.reject(project.id), class:"form-no-margin inline"}
                        <button type="submit" class="btn btn-danger btn-mini"
                                title="Reject project claim"><i class="icon-remove icon-white"></i> Reject</button>
                    #{/form}
                #{/if}
                </span>
            #{/secure.check}
        </td>
    </tr>
    <tr>
        <th>URL</th>
        <td>${project.url}</td>
    </tr>
    <tr>
        <th>License</th>
        <td>${project.license}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>${project.description}</td>
    </tr>
    <tr>
        <th>Motivation</th>
        <td>${project.motivation}</td>
    </tr>
    </tbody>
</table>

#{list items: project.comments, as: 'comment'}
    #{if comment.status != null}
    <div class="comment-status">
        #{projectStatus comment.status /}
        #{user comment.owner, img: true, size:30 /}
        ${comment.status.name().toLowerCase()} this project ${comment.date.since(true)}
    </div>
    #{/if}
    #{else}
    <div class="comment" id="comment-${comment.id}">
        <a href="@{Users.view(comment.owner.userName)}" title="View ${comment.owner.userName}´s profile">
            #{gravatar.img comment.owner.email, size:50, default:'mm' /}
        </a>
        <div class="data">
            <div class="header">
                <span class="author"><i class="icon-comment"></i> #{user comment.owner /} <span class="small">commented</span></span>
                <span class="date"><a href="#comment-${comment.id}">${comment.date.since(true)}</a></span>
            </div>
            <div class="text" id="comment-${comment.id}-view">
                #{if user.isAdmin || comment.owner == user}
                    #{form @Projects.deleteComment(project.id, comment.id), class:"form-no-margin inline"}
                        <button type="submit" class="btn btn-danger btn-mini action"
                                title="Delete this comment"><i class="icon-trash icon-white"></i> Delete</button>
                    #{/form}
                    <a href="#" onclick="jQuery('#comment-${comment.id}-edit, #comment-${comment.id}-view').toggle(); return false;"
                       title="Edit this comment" class="btn btn-mini action"><i class="icon-edit"></i> Edit</a>
                #{/if}
                ${comment.text.md()}
            </div>
            <div class="text" id="comment-${comment.id}-edit" style="display:none;">
                #{form @Projects.editComment(project.id, comment.id)}
                    <textarea name="text" rows="5">${comment.text}</textarea>
                    <a href="#" onclick="jQuery('#comment-${comment.id}-edit, #comment-${comment.id}-view').toggle(); return false;"
                       class="btn" title="Abort!">Cancel</a>
                    <button class="btn btn-primary" type="submit"
                        title="Save this comment"><i class="icon-ok icon-white"></i> Save</button>
                #{/form}
            </div>
        </div>
    </div>
    #{/else}
#{/list}

#{form @Projects.addComment(project.id)}
    <div class="comment" id="comment-add">
        #{gravatar.img user.email, size:50, default:'mm' /}
        <div class="data">
            <div class="header">
                <span class="author"><i class="icon-comment"></i> Comment on this claim</span>
            </div>
            <div class="text">
                <textarea name="text" rows="5"></textarea>
            </div>
        </div>
    </div>
    <div class="pull-right">
        <button type="submit" class="btn btn-primary" 
            title="Add comment to this project claim"><i class="icon-comment icon-white"></i> Add comment</button>
        #{if project.status == models.ProjectStatus.REJECTED}
            <button type="submit" class="btn btn-warning" name="projectAction" 
                value="claim" title="Comment and reclaim this project"><i class="icon-plus icon-white"></i> Comment and reclaim</button> 
        #{/if}
        #{secure.check 'admin'}
            #{if project.canBeAccepted()}
                <button type="submit" class="btn btn-success" name="projectAction" 
                    value="accept" title="Comment and accept this project claim"><i class="icon-ok icon-white"></i> Comment and accept</button> 
            #{/if}
            #{if project.canBeRejected()}
                <button type="submit" class="btn btn-danger" name="projectAction" 
                    value="reject" title="Comment and reject this project claim"><i class="icon-remove icon-white"></i> Comment and reject</button>
            #{/if}
        #{/secure.check}
    </div>
#{/form}