Source: ceylon-herd
Section: unknown
Priority: extra
Maintainer: Stephane Epardaud <stephane@epardaud.fr>
Build-Depends: debhelper (>= 7), ant
Standards-Version: 3.8.4

Package: ceylon-herd
Architecture: all
Depends: ${misc:Depends}, play-1.2.4, play-1.2-gravatar-module-1.0.2
Description: The Ceylon Repo web app
