#!/usr/bin/make -f
#-*- makefile -*-
# Made with the aid of dh_make, by Craig Small
# Sample debian/rules that uses debhelper. GNU copyright 1997 by Joey Hess.
# Some lines taken from debmake, by Christoph Lameter.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

NAME=ceylon-repo

DEB_PATH=debian/$(NAME)
INSTALL_PATH=/usr/share/$(NAME)
ETC_PATH=/etc/$(NAME)
LOG_PATH=/var/log/$(NAME)
LIB_PATH=/var/lib/$(NAME)
RUN_PATH=/var/run/$(NAME)

%:
	dh  $@

override_dh_auto_install: 
	install -d $(DEB_PATH)$(INSTALL_PATH) $(DEB_PATH)$(ETC_PATH) $(DEB_PATH)$(LOG_PATH) $(DEB_PATH)$(LIB_PATH) $(DEB_PATH)$(RUN_PATH)
	rsync --exclude .svn --exclude .CVS -r app lib public $(DEB_PATH)$(INSTALL_PATH)
	cp conf/* $(DEB_PATH)$(ETC_PATH)
	rm $(DEB_PATH)$(ETC_PATH)/application-secret.conf
	ln -s $(ETC_PATH) $(DEB_PATH)$(INSTALL_PATH)/conf
	ln -s /www/ceylon.inforealm.org/repo $(DEB_PATH)$(INSTALL_PATH)/repo
	ln -s /www/ceylon.inforealm.org/uploads $(DEB_PATH)$(INSTALL_PATH)/uploads
