#{if _arg.jsBinMajor == 0 && _arg.jsBinMinor == 0}<span class="label label-warning">JavaScript: M2 (outdated)</span>#{/if}
#{elseif _arg.jsBinMajor == 1 && _arg.jsBinMinor == 0}<span class="label label-warning">JavaScript: M3 (outdated)</span>#{/elseif}
#{elseif _arg.jsBinMajor == 2 && _arg.jsBinMinor == 0}<span class="label label-warning">JavaScript: M3.1 (outdated)</span>#{/elseif}
#{elseif _arg.jsBinMajor == 3 && _arg.jsBinMinor == 0}<span class="label label-warning">JavaScript: M4 (oudated)</span>#{/elseif}
#{elseif _arg.jsBinMajor == 4 && _arg.jsBinMinor == 0}<span class="label label-warning">JavaScript: M5 (outdated)</span>#{/elseif}
#{elseif _arg.jsBinMajor == 5 && _arg.jsBinMinor == 0}<span class="label label-warning">JavaScript: M6 (outdated)</span>#{/elseif}
#{elseif _arg.jsBinMajor == 6 && _arg.jsBinMinor == 0}<span class="label label-warning">JavaScript: 1.0.0 (outdated)</span>#{/elseif}
#{elseif _arg.jsBinMajor == 7 && _arg.jsBinMinor == 0}<span class="label label-warning">JavaScript: 1.1.0 (outdated)</span>#{/elseif}
#{elseif _arg.jsBinMajor == 8 && _arg.jsBinMinor == 0}<span class="label label-warning">JavaScript: 1.2.0 (outdated)</span>#{/elseif}
#{elseif _arg.jsBinMajor == 9 && (_arg.jsBinMinor == 0 || _arg.jsBinMinor == 1)}<span class="label label-success">JavaScript: 1.2.1, 1.2.2, 1.3.x (latest)</span>#{/elseif}
#{else}<span class="label label-important">JavaScript: Unknown (${_arg.jsBinMajor}/${_arg.jsBinMinor})</span>#{/else}
