<table class="table table-striped table-selectable">
    <caption>
        #{if caption}${_caption}#{/if} 
        #{else}List of modules#{/else}
    </caption>
    <tbody>
        #{list items:_modules, as:'module'}
        <tr>
            <td>
                <a href="@{Repo.versions(module.name)}"	title="View published versions">${module.name}</a>
            </td>
            <td>
                ${module.friendlyName}
            </td>
            <td>
                #{if module.getLastVersion()}
                    <a href="@{Repo.view(module.name, module.getLastVersion().version)}" title="View last version">${module.getLastVersion().version}</a>
                #{/if}
            </td>
            <td>
                #{if module.getLastVersion()}
                    #{moduleBackends module.getLastVersion()/}
                #{/if}
            </td>
            <td class="shrink">
                #{user module.owner, img:true /}
            </td>
            <td class="shrink">
                #{if module.canEdit(_user)}
                    <a href="@{LoggedInRepo.editForm(module.name)}" title="Edit this module" class="btn btn-mini"><i class="icon-edit"></i> Edit</a> 
                #{/if}
            </td>
            <td class="shrink">
                #{secure.check 'admin'}
                    <a href="@{LoggedInRepo.removeModule1(module.name)}" title="Remove this module" class="btn btn-mini btn-danger"><i class="icon-trash icon-white"></i> Remove</a> 
                #{/secure.check}
            </td>
        </tr>
    #{/list}
    </tbody>
</table>