#{list _arg, as:'dep'}
    <div>
        #{if dep.exists}
            <a href="@{Repo.view(dep.name, dep.version)}">${dep.name}/${dep.version}</a>
        #{/if}
        #{elseif dep.jdk}
            ${dep.name}/${dep.version} <span class="label label-import-keyword">JDK</span>
        #{/elseif}
        #{elseif dep.otherVersions}
            <a href="@{Repo.versions(dep.name)}">${dep.name}</a>/${dep.version} <span class="label label-warning">missing</span>
        #{/elseif}
        #{elseif dep.resolvedFromHerd}
            <a href="${dep.herdUrl}" title="View in Herd">${dep.name}/${dep.version}</a> <span class="label label-info">Herd</span>
        #{/elseif}
        #{elseif dep.resolvedFromMaven}
            <a href="${dep.mavenUrl}" title="View in Maven Central">${dep.name}/${dep.version}</a> <span class="label label-warning">Maven module</span>
        #{/elseif}
        #{else}
            ${dep.name}/${dep.version} <span class="label label-warning">missing</span>
        #{/else}
        #{if dep.export}<span class="label label-import-keyword">shared</span>#{/if}
        #{if dep.optional}<span class="label label-import-keyword">optional</span>#{/if}
    </div>
#{/list}
