#{if _arg.ceylonMajor == 0 && _arg.ceylonMinor == 0}<span class="label label-warning">M2 (outdated)</span>#{/if}
#{elseif _arg.ceylonMajor == 1 && _arg.ceylonMinor == 0}<span class="label label-warning">M3 (outdated)</span>#{/elseif}
#{elseif _arg.ceylonMajor == 2 && _arg.ceylonMinor == 0}<span class="label label-warning">M3.1 (outdated)</span>#{/elseif}
#{elseif _arg.ceylonMajor == 3 && _arg.ceylonMinor == 0}<span class="label label-warning">M4 (oudated)</span>#{/elseif}
#{elseif _arg.ceylonMajor == 4 && _arg.ceylonMinor == 0}<span class="label label-success">M5 (latest)</span>#{/elseif}
#{else}<span class="label label-important">Unknown (${_arg.ceylonMajor}/${_arg.ceylonMinor})</span>#{/else}
