%{
    if(_arg == models.ProjectStatus.CONFIRMED){
        labelType = "success";
        labelTooltip = "This project claim is confirmed";
    }else if(_arg == models.ProjectStatus.REJECTED){
        labelType = "important";
        labelTooltip = "This project claim has been rejected";
    }else if(_arg == models.ProjectStatus.CLAIMED){
        labelType = "warning";
        labelTooltip = "This project claim is not confirmed yet";
    }
}%
<span class="label label-${labelType}" title="${labelTooltip}">${_arg}</span>