%{
    if(_arg == "error"){
        labelType = "important";
        labelTooltip = "Error";
    }else if(_arg == "warning"){
        labelType = "warning";
        labelTooltip = "Warning";
    }else if(_arg == "success"){
        labelType = "success";
        labelTooltip = "Success";
    }else if(_arg == "empty"){
        labelType = "info";
        labelTooltip = "empty";
}
    if(_message)
        labelTooltip = _message;
}%
<span class="label label-${labelType}" title="${labelTooltip}">${labelTooltip}</span>
