#{extends 'main.html' /}
#{set title:'List of modules in '+category.name /}

<div class="alert">
    Note that this is a test Ceylon repo, which will be dropped after Ceylon hits 1.0.
</div>

<h2>${category.name}</h2>
<p>
    ${category.description?.md()}
</p>

#{if modules.empty}
    <div class="alert alert-info">
        No module in this category yet.
    </div>
#{/if}
#{else}
    <table class="table table-striped">
        <caption>
            #{if caption}${caption}#{/if}
            #{else}List of modules#{/else}
        </caption>
        <tbody>
            #{list items:modules, as:'module'}
                <tr>
                    <td><a href="@{Repo.versions(module.name)}" title="View published versions">${module.name}</a></td>
                    <td>${module.friendlyName}</td>
                    <td>#{user module.owner, img:true /}</td>
                    <td>
                        #{if module.canEdit(user)}
                            <a href="@{LoggedInRepo.editForm(module.name)}" 
                               title="Edit this module"
                               class="btn btn-mini pull-right"><i class="icon-edit"></i> Edit</a>
                        #{/if}
                    </td>
                </tr>
            #{/list}
        </tbody>
    </table>
#{/else}