#{extends 'main.html' /}
#{set title:'List of modules' /}

#{if modules.empty}
    <div class="alert alert-info">
        No module in repository yet.
    </div>
#{/if}
#{else}
    <table class="table table-striped">
        <caption>List of modules</caption>
        <tbody>
            #{list items:modules, as:'module'}
                <tr>
                    <td><a href="@{Repo.versions(module.id)}" title="View published versions">${module.name}</a></td>
                    <td>
                        #{if module.canEdit(user)}
                            <a href="@{LoggedInRepo.editForm(module.id)}" 
                               title="Edit this module"
                               class="btn btn-mini pull-right"><i class="icon-edit"></i> Edit</a>
                        #{/if}
                    </td>
                </tr>
            #{/list}
        </tbody>
    </table>
#{/else}
