#{extends 'main.html' /}
#{set title:'Versions for '+module.name /}

<div class="alert">
    Note that this is a test Ceylon repo, which will be dropped after Ceylon hits 1.0.
</div>

#{moduleEditBar module, user: user /}

#{if module.github}
#{set 'moreScripts'}
    <script src="@{'/public/javascripts/github.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script type="text/javascript">
loadModuleInfoFromGitHub("${module.githubOwner}","${module.githubProject}");
    </script>
#{/set}
#{/if}

#{if module.canEdit(user)}
#{set 'help'}
    <p>
        If you want to change the module´s <b>friendly name</b>, its <b>home page</b>, <b>code</b> or 
        <b>issue tracker</b> URLs, as
        well as <b>grant administration permissions</b> on this module for your colleagues,
        or even <b>transfer it</b> to an other user,
        go to the <a href="@{LoggedInRepo.editForm(module.name)}" class="btn btn-mini"
        title="Edit this module"><i class="icon-edit"></i> edit</a> page.
    </p>
    <p>
        The <b>module name</b> and <b>version</b> are taken from the module descriptor. 
    </p>
    <p>
        If your <b>code URL</b> points to a <a href="http://github.com">Github</a> project, we will extract
        its <b>icon</b>, <b>description</b> and <b>open issues</b> from it. 
    </p>
#{/set}
#{/if}

<table class="table table-bordered table-no-hover">
    <caption>Module info</caption>
    <tbody>
        <tr>
            <th>Name</th>
            <td>
                <div id="img-holder" class="pull-right"></div>
                #{if module.friendlyName}
                    ${module.friendlyName}<br/>
                #{/if}
                <a href="@{Repo.versions(module.name)}" title="View published versions">${module.name}</a>
            </td>
        </tr>
        <tr>
            <th>Owner</th>
            <td>#{user module.owner, img:true /}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td id="description"></td>
        </tr>
        <tr>
            <th>Last Published</th>
            <td>${module.lastPublished?.sinceInUserTZ(true)}</td>
        </tr>
        <tr>
            <th>Stats</th>
            <td>
                <b>Downloads:</b> ${module.downloads}<br/>
                <b>Source downloads:</b> ${module.sourceDownloads}<br/>
            </td>
        </tr>
        <tr>
            <th>Info</th>
            <td>
                #{if module.homeURL}
                    <a href="${module.homeURL}" title="Module web site"><i class="icon-home"></i> Home</a><br/>
                #{/if}
                #{if module.codeURL}
                    <a href="${module.codeURL}" title="Module code repository"><i class="icon-heart"></i> Code repository</a><br/>
                #{/if}
                #{if module.issueTrackerURL}
                    <a href="${module.issueTrackerURL}" title="Module issue tracker" id="issues"><i class="icon-exclamation-sign"></i> Issue tracker</a><br/>
                #{/if}
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a href="@{Repo.viewFile(module.path)}" title="Browse module repository"><i class="icon-folder-open"></i> Browse</a>
            </td>
        </tr>
    </tbody>
</table>

#{if versions.empty}
    <div class="alert alert-info">
        No versions for ${module.name} in repository yet.
    </div>
#{/if}
#{else}
    <table class="table table-striped">
        <caption>List of published versions <a href="@{Feed.module(module.name)}" title="Subscribe to this module´s feed"><img src="@{'/public/images/feed.png'}"/></a></caption>
        <tbody>
            #{list items:versions, as:'version'}
                <tr>
                    <td><a href="@{Repo.view(module.name, version.version)}" title="View module">${version.version}</a></td>
                    <td>
                        <a href="@{Repo.viewFile(version.path)}" title="Browse module files"><i class="icon-folder-open"></i> Browse</a><br/>
                    </td>
                    <td>
                        #{if version.isAPIPresent}
                            <a href="@{Repo.viewDoc(module.name, version.version)}" title="Browse module API documentation"><i class="icon-book"></i> View docs</a><br/>
                        #{/if}
                    </td>
                    <td>
                        #{secure.check 'admin'}
                            #{form @LoggedInRepo.remove1(module.name, version.version), class: "form-no-margin inline pull-right"}
                                <button type="submit" title="Remove this module"
                                    class="btn btn-danger btn-mini"
                                    ><i class="icon-trash icon-white"></i> Remove</button>
                            #{/form}
                        #{/secure.check}
                    
                    </td>
                </tr>
            #{/list}
        </tbody>
    </table>
#{/else}
