#{extends 'main.html' /}
#{set title:'Versions for '+module.name /}

#{moduleEditBar module, user: user /}

#{if versions.empty}
    <div class="alert alert-info">
        No versions for ${module.name} in repository yet.
    </div>
#{/if}
#{else}
    <table class="table table-striped">
        <caption>List of versions for ${module.name}</caption>
        <tbody>
            #{list items:versions, as:'version'}
                <tr>
                    <td><a href="@{Repo.view(module.id, version.id)}" title="View module">${version.version}</a></td>
                    <td>
                        #{secure.check 'admin'}
                            #{form @LoggedInRepo.remove1(module.id, version.id), class: "form-no-margin inline pull-right"}
                                <button type="submit" title="Remove this module"
                                    class="btn btn-danger btn-mini"
                                    ><i class="icon-trash icon-white"></i> Remove</button>
                            #{/form}
                        #{/secure.check}
                    
                    </td>
                </tr>
            #{/list}
        </tbody>
    </table>
#{/else}
