#{extends 'main.html' /}
#{set title:'View module' /}

<div class="alert">
    Note that this is a test Ceylon repo, which will be dropped after Ceylon hits 1.0.
</div>

#{moduleEditBar module, user: user /}

#{if module.github}
#{set 'moreScripts'}
    <script src="@{'/public/javascripts/github.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script type="text/javascript">
loadModuleInfoFromGitHub("${module.githubOwner}","${module.githubProject}");
    </script>
#{/set}
#{/if}

#{secure.check 'admin'} 
    #{form @LoggedInRepo.remove1(module.name, moduleVersion.version), class: "form-no-margin inline pull-right"}
        <button type="submit" title="Remove this module"
            class="btn btn-danger"
            ><i class="icon-trash icon-white"></i> Remove</button>
    #{/form}
#{/secure.check}

#{if module.canEdit(user)}
#{set 'help'}
    <p>
        If you want to change the module´s <b>friendly name</b>, its <b>home page</b>, <b>code</b> or 
        <b>issue tracker</b> URLs, as
        well as <b>grant administration permissions</b> on this module for your colleagues,
        or even <b>transfer it</b> to an other user,
        go to the <a href="@{LoggedInRepo.editForm(module.name)}" class="btn btn-mini"
        title="Edit this module"><i class="icon-edit"></i> edit</a> page.
    </p>
    <p>
        The <b>module name</b> and <b>version</b> are taken from the module descriptor. 
    </p>
    <p>
        If your <b>code URL</b> points to a <a href="http://github.com">Github</a> project, we will extract
        its <b>icon</b>, <b>description</b> and <b>open issues</b> from it. 
    </p>
#{/set}
#{/if}

<table class="table table-bordered">
    <caption>Module info</caption>
    <tbody>
        <tr>
            <th>Name</th>
            <td>
                <div id="img-holder" class="pull-right"></div>
                #{if module.friendlyName}
                    ${module.friendlyName}<br/>
                #{/if}
                <a href="@{Repo.versions(module.name)}" title="View published versions">${module.name}</a>/${moduleVersion.version}
            </td>
        </tr>
        <tr>
            <th>Owner</th>
            <td>#{user module.owner, img:true /}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td id="description"></td>
        </tr>
        <tr>
            <th>Published</th>
            <td>${moduleVersion.published.since(true)}</td>
        </tr>
        <tr>
            <th>Dependencies</th>
            <td>
                #{list moduleVersion.dependencies, as:'dep'}
                    <div>
                        <a href="@{Repo.view(dep.name, dep.version)}">${dep.name}/${dep.version}</a>
                    </div>
                #{/list}
            </td>
        </tr>
        <tr>
            <th>Stats</th>
            <td>
                <b>Downloads:</b> ${moduleVersion.downloads}<br/>
                <b>Source downloads:</b> ${moduleVersion.sourceDownloads}<br/>
            </td>
        </tr>
        <tr>
            <th>Info</th>
            <td>
                #{if module.homeURL}
                    <a href="${module.homeURL}" title="Module web site"><i class="icon-home"></i> Home</a><br/>
                #{/if}
                #{if module.codeURL}
                    <a href="${module.codeURL}" title="Module code repository"><i class="icon-heart"></i> Code repository</a><br/>
                #{/if}
                #{if module.issueTrackerURL}
                    <a href="${module.issueTrackerURL}" title="Module issue tracker" id="issues"><i class="icon-exclamation-sign"></i> Issue tracker</a><br/>
                #{/if}
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a href="@{Repo.viewFile(moduleVersion.path)}" title="Browse module files"><i class="icon-folder-open"></i> Browse</a><br/>
                <a href="@{Repo.viewFile(moduleVersion.carPath)}" title="Download module binary archive"><i class="icon-download"></i> Download .car</a><br/>
                #{if moduleVersion.isSourcePresent}
                    <a href="@{Repo.viewFile(moduleVersion.sourcePath)}" title="Browse module source archive"><i class="icon-heart"></i> Download source archive</a><br/>
                #{/if}
                #{else}
                    <i class="icon-remove"></i> No source archive<br/>
                #{/else}
                #{if moduleVersion.isAPIPresent}
                    <a href="@{Repo.viewDoc(module.name, moduleVersion.version)}" title="Browse module API documentation"><i class="icon-book"></i> View docs</a><br/>
                #{/if}
                #{else}
                    <i class="icon-remove"></i> No API docs<br/>
                #{/else}
            </td>
        </tr>
    </tbody>
</table>
