#{extends 'main.html' /}
#{set title:'Reset password' /}
#{set hasForm: true /}

<div class="row">
<div class="span6 offset3">

#{form action: @Security.resetPasswordComplete2(user.passwordResetConfirmationCode), class: "form-horizontal"}

<fieldset>
    <legend>
        Reset your password
    </legend>
    <div class="control-group #{errorClassBootstrap 'password'/}">
        <label class="control-label" for="password">New password</label>
        <div class="controls">
            <input type="password" name="password" value="${flash.password}" maxlength="${util.Util.VARCHAR_SIZE}"/>
            <span class="help-inline">​#{error 'password'/}</span>
        </div>
    </div>
    <div class="control-group #{errorClassBootstrap 'password2'/}">
        <label class="control-label" for="password2">Confirm new password</label>
        <div class="controls">
            <input type="password" name="password2" value="${flash.password2}" maxlength="${util.Util.VARCHAR_SIZE}"/>
            <span class="help-inline">​#{error 'password2'/}</span>
        </div>
    </div>
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Reset password" title="Reset password"/>
        <a class="btn" href="@{Application.index()}" title="Back to home">Cancel</a>
    </div>
</fieldset>

#{/form}

</div>
</div>