#{extends 'main.html' /}
#{set title:'Reset password' /}

<div class="row">
    <div class="span6 offset3">
        <div class="alert alert-info">
            <h3>
            Password reset confirmation sent successfully!
            </h3>
            <p>
            We’ve sent an email to <b>${email}</b> containing a temporary link that will allow you to reset your password for the next 24 hours. 
            </p>
            <p>
            Please check your spam folder if the email doesn’t appear within a few minutes.
            </p>
            <br/>
            <a class="btn" href="@{Application.index()}" title="Back to home">Back to home <i class="icon-home"></i></a>
        </div>
    </div>
</div>