#{extends 'main.html' /}
#{set title:'View upload' /}

<div class="alert alert-${uploadInfo.status}">
    #{if uploadInfo.status == "success"}
        <h4 class="alert-heading">Congratulations</h4>
        This upload is ready to be published.
    #{/if}
    #{if uploadInfo.status == "warning"}
        <h4 class="alert-heading">Beware</h4>
        This upload contains warnings, that we encourage you to fix, but you can still
        publish it.
    #{/if}
    #{if uploadInfo.status == "error"}
        <h4 class="alert-heading">Ouch</h4>
        This upload contains error. You must resolve them before you can publish it.
    #{/if}
</div>

<table class="table table-bordered">
    <caption>Upload</caption>
    <tbody>
        <tr>
            <th>Status</th>
            <td>
                #{uploadStatus uploadInfo.status /}
            </td>
        </tr>
        <tr>
            <th>Repo path</th>
            <td><a href="@{UploadAPI.viewFile(upload.id, '')}" title="Browse uploaded files">@{UploadAPI.viewFile(upload.id, "")}</a></td>
        </tr>
        <tr>
            <th>Size</th>
            <td>${upload.size.formatSize()}</td>
        </tr>
        <tr>
            <th>Created on</th>
            <td>${upload.created.format("HH:mm dd MMM yyyy")}</td>
        </tr>
        <tr>
            <th></th>
            <td>
                <a class="btn" href="@{Uploads.uploadRepoForm(upload.id)}" 
                    title="Upload a repository as a zip file"><i class="icon-upload"></i> Upload repo archive</a>
                #{form @Uploads.delete(upload.id), class:"form-no-margin inline"}
                    <button type="submit" class="btn btn-danger"
                            title="Drop upload"><i class="icon-trash icon-white"></i> Delete</button>
                #{/form}
                #{if uploadInfo.publishable}
                    #{form @Uploads.publish(upload.id), class:"form-no-margin inline"}
                        <button type="submit" class="btn btn-primary"
                                title="Publish this upload"><i class="icon-ok icon-white"></i> Publish</button>
                    #{/form}
                #{/if}
            </td>
        </tr>
    </tbody>
</table>

<ul class="nav nav-tabs">
  <li class="active"><a href="#status" data-toggle="tab" title="View upload diagnostics information">Status</a></li>
  <li><a href="#files" data-toggle="tab" title="View uploaded files">Files</a></li>
</ul>

<div class="tab-content">
<div class="tab-pane active" id="status">

<table class="table table-bordered">
    <caption>Diagnostics</caption>
    <tbody>
        #{list items:uploadInfo.diagnostics, as:'diagnostic'}
            <tr>
                <td>
                    #{uploadStatus diagnostic.type /}
                </td>
                <td>
                    #{if diagnostic.unknownPath}
                        #{form @UploadAPI.deleteFile(upload.id, diagnostic.unknownPath), class:"form-no-margin inline pull-right"}
                            <button type="submit" class="btn btn-danger btn-mini"
                                title="Remove this file from upload"><i class="icon-trash icon-white"></i> Delete</button>
                        #{/form}
                        Unknown file:
                        <a href="@{UploadAPI.viewFile(upload.id, diagnostic.unknownPath)}">/${diagnostic.unknownPath}</a>
                    #{/if}
                    #{else}
                        ${diagnostic.message}
                    #{/else}
                </td>
            </tr>
        #{/list}
        #{list items:uploadInfo.modules, as:'module'}
            <tr>
                <td>
                    %{
                        type = module.type;
                    }%
                    #{uploadStatus type /}
                </td>
                <td>
                    #{form @UploadAPI.deleteFile(upload.id, module.path.substring(1)), class:"form-no-margin inline pull-right"}
                        <button type="submit" class="btn btn-danger btn-mini"
                            title="Remove this module from upload"><i class="icon-trash icon-white"></i> Delete</button>
                    #{/form}
                    ${module.name}/${module.version}
                    <ul>
                        #{list items:module.diagnostics, as:'diagnostic'}
                            <li>
                                #{uploadStatus diagnostic.type, message: diagnostic.message /}
                                #{if diagnostic.projectClaim}
                                    &nbsp;
                                    #{if diagnostic.project == null}
                                        <a href="@{Projects.claimForm(module.name)}" class="btn btn-mini"
                                            title="Claim this project to be allowed to publish it"><i class="icon-plus"></i> Claim this project</a>
                                    #{/if}
                                    #{else}
                                        <a href="@{Projects.view(diagnostic.project.id)}">#{projectStatus diagnostic.project.status /}</a>
                                    #{/else}
                                #{/if}
                            </li>
                        #{/list}
                    </ul>
                    <a href="@{UploadAPI.viewFile(upload.id, module.path.substring(1))}"
                        title="Browse this module´s files"><i class="icon-folder-open"></i> Browse</a><br/>
                    #{if module.hasDocs}
                        <a href="@{UploadAPI.viewFile(upload.id, module.docPath)}"
                            title="View this module´s API documentation"><i class="icon-book"></i> View docs</a>
                    #{/if}
                </td>
            </tr>
        #{/list}
    </tbody>
</table>

</div>
<div class="tab-pane" id="files">

#{if uploadedFiles.empty}
    <div class="alert alert-info">
        No file uploaded yet.
    </div>
#{/if}
#{else}
    <table class="table table-bordered">
        <caption>Files</caption>
        <tbody>
            #{list items:uploadedFiles, as:'file'}
                <tr>
                    %{
                        path = file.relativeTo(upload); 
                    }%
                    <td><a href="@{UploadAPI.viewFile(upload.id, path)}" title="View file">/${path}</a></td>
                    <td>${file.length().formatSize()}</td>
                    <td>
                        #{form @UploadAPI.deleteFile(upload.id, path), class:"form-no-margin inline"}
                            <button type="submit" class="btn btn-danger btn-mini"
                                title="Remove this file from upload"><i class="icon-trash icon-white"></i> Delete</button>
                        #{/form}
                    </td>
                </tr>
            #{/list}
        </tbody>
    </table>
#{/else}

</div>

</div>
