#{extends 'main.html' /}
#{set title:'View upload' /}

#{set 'help'}
    <p>
        This is the <em>upload detail</em> page, where you can review your current upload, and fix any eventual
        issue that gets in the way of you publishing it.
    </p>
    <p>
        From here, you can check the status of every module you´ve uploaded, <i class="icon-trash"></i> <b>delete</b>
        problematic files or modules, get information on how to upload your module using the Ceylon tools, or even
        <a class="btn" href="@{Uploads.uploadRepoForm(upload.id)}" 
                title="Upload a repository as a zip file"><i class="icon-upload"></i> upload a repo archive</a>
        from the comfort of this page. 
    </p>
    <p>
        If you´re not happy with the contents of this upload, feel free to 
        <span class="action-tip"><i class="icon-trash"></i> delete</span>
        it: no harm done and let´s try again.
    </p>
#{/set}

<div class="alert alert-${uploadInfo.status}">
    #{if uploadInfo.status == "success"}
        <h4 class="alert-heading">Congratulations</h4>
        This upload is ready to be published, but remember: once a module is published, it can´t be unpublished.
        You´ve been warned :)
    #{/if}
    #{if uploadInfo.status == "empty"}
        <h4 class="alert-heading">Empty upload</h4>
        You can now upload files
    #{/if}
    #{if uploadInfo.status == "warning"}
        <h4 class="alert-heading">Beware</h4>
        This upload contains warnings, that we encourage you to fix, but you can still
        publish it.
    #{/if}
    #{if uploadInfo.status == "error"}
        <h4 class="alert-heading">Ouch</h4>
        This upload contains errors. You must resolve them before you can publish it.
    #{/if}
</div>

<table class="table table-bordered">
    <caption>Upload</caption>
    <tbody>
        <tr>
            <th>Status</th>
            <td>
                #{uploadStatus uploadInfo.status /}
            </td>
        </tr>
        <tr>
            <th>Uploaded modules</th>
            <td>
                <ul>
                    #{list items:uploadInfo.modules, as:'module'}
                        <li>
                            <a href="#module-${module.name}-${module.version}">${module.name}/${module.version}</a>: #{uploadStatus module.type /}
                        </li>
                    #{/list}
                </ul>
            </td>
        </tr>
        <tr>
            <th>Repo URL</th>
            <td>
                <p>
                    <a href="@{UploadAPI.viewFile(upload.id, '')}" title="Browse uploaded files">@{UploadAPI.viewFile(upload.id, "")}</a>
                </p>
                <form class="form-horizontal">
                    <fieldset>
                        <div class="input-prepend">
                            <span class="add-on"
                                title="Copy this URL to use it as an output repo"
                                ><i class="icon-bookmark"></i></span
                            ><input value="@@{UploadAPI.viewFile(upload.id, '')}" class="input-xxlarge"
                                onfocus="this.select();" onclick="this.select();" onmouseup="return false;"
                                title="Copy this URL to use it as an output repo"
                                type="text" readonly/>
                        </div>
                    </fieldset>
                </form>
                <p>
                    Upload your modules directly from your Ceylon tools:
                </p>
                <pre>$ ceylonc -out @@{UploadAPI.viewFile(upload.id, '')} -user ${user.userName} -pass YYY com.acme.module
$ ceylond -out @@{UploadAPI.viewFile(upload.id, '')} -user ${user.userName} -pass YYY com.acme.module</pre>
            </td>
        </tr>
        <tr>
            <th>Size</th>
            <td>${upload.size.formatSize()}</td>
        </tr>
        <tr>
            <th>Created on</th>
            <td>${upload.created.formatInUserTZ("HH:mm dd MMM yyyy")}</td>
        </tr>
        <tr>
            <th></th>
            <td>
                <a class="btn" href="@{Uploads.uploadRepoForm(upload.id)}" 
                    title="Upload a repository as a zip file"><i class="icon-upload"></i> Upload repo archive</a>
                #{form @Uploads.delete(upload.id), class:"form-no-margin inline"}
                    <button type="submit" class="btn btn-danger"
                            title="Drop upload"><i class="icon-trash icon-white"></i> Delete</button>
                #{/form}
                #{form @UploadAPI.deleteFile(upload.id, '/'), class:"form-no-margin inline"}
                    <button type="submit" class="btn btn-warning"
                            title="Reset upload: remove every uploaded file"><i class="icon-off icon-white"></i> Reset</button>
                #{/form}
                #{if uploadInfo.publishable}
                    #{form @Uploads.publish(upload.id), class:"form-no-margin inline"}
                        <button type="submit" class="btn btn-primary"
                                title="Publish this upload"><i class="icon-ok icon-white"></i> Publish</button>
                    #{/form}
                #{/if}
            </td>
        </tr>
    </tbody>
</table>

<ul class="nav nav-tabs">
  <li class="active"><a href="#status" data-toggle="tab" title="View upload diagnostics information">Status</a></li>
  <li><a href="#files" data-toggle="tab" title="View uploaded files">Files</a></li>
</ul>

<div class="tab-content">
<div class="tab-pane active" id="status">

<table class="table table-bordered">
    <caption>Diagnostics</caption>
    <tbody>
        #{list items:uploadInfo.diagnostics, as:'diagnostic'}
            <tr>
                <td>
                    #{uploadStatus diagnostic.type /}
                </td>
                <td>
                    #{if diagnostic.unknownPath}
                        #{form @UploadAPI.deleteFile(upload.id, diagnostic.unknownPath), class:"form-no-margin inline pull-right"}
                            <button type="submit" class="btn btn-danger btn-mini"
                                title="Remove this file from upload"><i class="icon-trash icon-white"></i> Delete</button>
                        #{/form}
                        Unknown file:
                        <a href="@{UploadAPI.viewFile(upload.id, diagnostic.unknownPath)}">/${diagnostic.unknownPath}</a>
                    #{/if}
                    #{else}
                        ${diagnostic.message}
                    #{/else}
                </td>
            </tr>
        #{/list}
        #{list items:uploadInfo.modules, as:'module'}
            <tr>
                <td>
                    <a name="module-${module.name}-${module.version}"></a>
                    %{
                        type = module.type;
                    }%
                    #{uploadStatus type /}
                </td>
                <td>
                    #{form @UploadAPI.deleteFile(upload.id, module.path.substring(1)), class:"form-no-margin inline pull-right"}
                        <button type="submit" class="btn btn-danger btn-mini"
                            title="Remove this module from upload"><i class="icon-trash icon-white"></i> Delete</button>
                    #{/form}
                    ${module.name}/${module.version}
                    <ul>
                        #{list items:module.diagnostics, as:'diagnostic'}
                            <li>
                                #{uploadStatus diagnostic.type, message: diagnostic.message /}
                                #{if diagnostic.projectClaim}
                                    &nbsp;
                                    #{if diagnostic.project == null}
                                        <a href="@{Projects.claimForm(module.name)}" class="btn btn-mini"
                                            title="Claim this project to be allowed to publish it"><i class="icon-plus"></i> Claim this project</a>
                                    #{/if}
                                    #{else}
                                        <a href="@{Projects.view(diagnostic.project.id)}">#{projectStatus diagnostic.project.status /}</a>
                                    #{/else}
                                #{/if}
                            </li>
                        #{/list}
                    </ul>
                    <a href="@{UploadAPI.viewFile(upload.id, module.path.substring(1))}"
                        title="Browse this module´s files"><i class="icon-folder-open"></i> Browse</a><br/>
                    #{if module.hasDocs}
                        <a href="@{Uploads.viewDoc(upload.id, module.name, module.version)}"
                            title="View this module´s API documentation"><i class="icon-book"></i> View docs</a>
                    #{/if}
                </td>
            </tr>
        #{/list}
    </tbody>
</table>

</div>
<div class="tab-pane" id="files">

#{if uploadedFiles.empty}
    <div class="alert alert-info">
        No file uploaded yet.
    </div>
#{/if}
#{else}
    <table class="table table-bordered">
        <caption>Files</caption>
        <tbody>
            #{list items:uploadedFiles, as:'file'}
                <tr>
                    %{
                        path = file.relativeTo(upload); 
                    }%
                    <td><a href="@{UploadAPI.viewFile(upload.id, path)}" title="View file">/${path}</a></td>
                    <td>${file.length().formatSize()}</td>
                    <td>
                        #{form @UploadAPI.deleteFile(upload.id, path), class:"form-no-margin inline"}
                            <button type="submit" class="btn btn-danger btn-mini"
                                title="Remove this file from upload"><i class="icon-trash icon-white"></i> Delete</button>
                        #{/form}
                    </td>
                </tr>
            #{/list}
        </tbody>
    </table>
#{/else}

</div>

</div>
