#{extends 'main.html' /}
#{set title:'Home' /}
#{set hasForm: true /}

<div class="row">
<div class="span6 offset3">

#{if canRegister}

#{form @Register.register(), class: "form-horizontal"}

    <fieldset>
        <legend>Register</legend>
        <div class="control-group ${play.data.validation.Validation.hasError('email') ? 'error' : ''}">
            <label class="control-label" for="email">Email</label>
            <div class="controls">
                <input name="email" maxlength="${util.Util.VARCHAR_SIZE}"/>
                <span class="help-inline">​#{error 'email'/}</span>​
            </div>
        </div>
        <div class="form-actions">​
            <input type="submit" class="btn-primary" value="Register"/>
        </div>
    </fieldset>
    
    #{/form}

#{/if}
#{else}

    <div class="alert">
        Ceylon Herd registration currently disabled. Sorry.
    </div>
    
#{/else}

</div>
</div>