#{extends 'main.html' /}
#{set title:'Home to the Herd' /}

<div class="hero-unit" style="min-height: 300px;">
  <h1>Welcome to the Herd!</h1>
  <img class="pull-left" src="@{'/public/images/herd-200.png'}"/> 
  <p>The biggest elephantest Ceylon module repository of the world in the whole universe!</p>
  <p>Every Ceylon module is published here.</p>
  <p>
    <a href="@{Application.usage()}">Start using Ceylon Herd today</a>.
  </p>
  <p>
    Find out more about the <a href="http://ceylon-lang.org">Ceylon programming language</a>.
  </p>
</div>