<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/bootstrap/css/bootstrap.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="@{'/public/images/favicon.ico'}">
        <script src="@{'/public/javascripts/jquery-1.7.1.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/bootstrap/js/bootstrap.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/bootstrap/js/bootstrap-tab.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/jstz.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script type="text/javascript">
// save the user time zone in a cookie so the server can access it
var timezone = jstz.determine_timezone();
var name = timezone.name();
document.cookie = "user_tz="+name;

function showHelp(){
	jQuery("#help").show();
}
function hideHelp(){
    jQuery("#help").hide();
}
function toggleHelp(){
    jQuery("#help").toggle();
}
        </script>
        #{get 'moreScripts' /}
        <link href="@{Feed.repo()}" type="application/atom+xml" rel="alternate" title="Repository Atom Feed" />
        <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24748553-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

        </script>
    </head>
    <body>
        <div class="pre-footer">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="@{Application.index()}"><img src="@{'/public/images/logo-top.png'}"/> Ceylon Herd</a>
                    <ul class="nav">
                        #{if session.username != null && user}
                            <li class="user">
                                #{if user.isAdmin}<i class="icon-star icon-white" title="You are an administrator"></i>#{/if}
                                #{user user, img:true /}
                            </li>
                        #{/if}
                        <li><a href="@{Repo.viewFile('')}">Repository</a>
                        <li><a href="@{Repo.index()}">Modules</a>
                        #{if session.username != null && user}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">My stuff<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@{Projects.index()}">My project claims <span class="badge">${user.projectsCached}</span></a>
                                    <li><a href="@{Uploads.index()}">My uploads <span class="badge">${user.uploadsCached}</span></a></li>
                                </ul>
                            </li>
                            #{if user.isAdmin}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@{Projects.claims()}">Current project claims <span class="badge">${util.MyCache.getClaims()}</span></a></li>
                                    </ul>
                                </li>
                            #{/if}
                        #{/if}
                        #{if session.username == null}
                            <li><a href="@{Register.index()}">Register</a>
                            <li><a href="@{Secure.login()}">Log in</a>
                        #{/if}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="@{Application.usage()}">Start using Ceylon Herd</a></li>
                                <li><a href="@{Application.publish()}">Publish your first module</a></li>
                                #{if help}
                                    <li><a href="#" onclick="showHelp(); return false;">About this page</a></li>
                                #{/if}
                            </ul>
                        </li>
                        <li><a href="@{Feed.repo()}" title="Subscribe to the repository feed"><img src="@{'/public/images/feed.png'}"/></a></li>
                        #{if session.username !=null && user}
                            <li><a href="@{Secure.logout()}">Logout</a></li>
                        #{/if}
                    </ul>
                    <form class="navbar-search pull-right" action="@{Repo.search}">
                        <input name="q" type="text" class="search-query" placeholder="Search module">
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            #{if flash.message || flash.message2}
                <div class="alert alert-success">
                    #{if flash.message}<li>${flash.message}</li>#{/if}
                    #{if flash.message2}<li>${flash.message2}</li>#{/if}
                </div>
            #{/if}
            #{if flash.warning}
                <div class="alert">
                    ${flash.warning}
                </div>
            #{/if}
            #{ifErrors}
                #{if !hasForm}
                    <div class="alert alert-error">
                        Please correct the following errors:
                        <ul>
                        #{list items:play.data.validation.Validation.errors(), as:'error'}
                                <li>${error.key} ${error.message}</li>
                        #{/list}
                        </ul>
                    </div>
                #{/if}
            #{/ifErrors}
            #{if help}
                <div id="help-button"><a href="#" onclick="toggleHelp(); return false;">Help!</a></div>
                <div class="alert alert-block alert-info" id="help">
                    <a href="#" class="close" title="Enough with helping, let´s DO THIS!" onclick="hideHelp(); return false;">×</a>
                    <h4 class="alert-heading">Help!</h4>
                    #{get 'help'/}
                </div>
            #{/if}
            #{doLayout /}
        </div>
            <div class="push"></div>
        </div>
        <footer>
            <hr/>
            Ceylon Herd v${play.configuration.getProperty("version")} Copyright 2012-${new Date().format("yyyy")} Red Hat.
            <a href="@{Application.about()}">About</a>
        </footer>
    </body>
</html>
